body {
	background: #ffffff;
	text-align: center;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

input {
	padding: 5px;
	font-size: 16px;
}

input:not(:first-of-type) {
	margin-left: 20px;
}

video {
	margin: 30px;
	width: 500px;
	max-width: 85%;
}


body {
	font-family: sans-serif;
	margin: 0 auto;
	padding: 25px;
	max-width: 400px;
	min-width: 400px;
	background-color: #dfe6e9;
	text-align: center;
  }
  
  
  .card {
	border-radius: 25px;
	position: relative;
	padding: 15px 15px;
	background-color: #81ecec;
	margin: 0px auto;
	width: 400px;
	box-shadow: 0 2px 5px #ccc;
	text-align: left;
  }
  

  